html {
  background: url("../IMG/topofclouds.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

select {
  display: block;
}

form {
  margin: 55px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

h1 {
  text-align: center;
  background: #41ddff;
  border-radius: 10px;
  margin: 25px;
  font-size: 250%;
  padding: 21px;
  font-weight: bold;
}

.input-field {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f9db0f;
}

p {
  background: #f9db0f;
  font-weight: bolder;
  text-align: center;
}

header {
  background: #00c9fc;
  padding: 10px;
}

.card {
  height: 100%;
  background-color: #f9db0f;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 5%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
  margin-bottom: 5%;
}
