html {
  background: url("../img/topofclouds.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top {
  height: 300px;
}

.row {
  margin-bottom: 5%;
  height: 400px;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
  display: flex;
}

.card {
  height: 100%;
  background-color: #b2fbff;
  padding: 10%;
  display: flex;
  margin: 10% 5% 5% 10%;
}

.card2 {
  height: 100%;
  background-color: #ffffff;
  display: block;
  padding: 5%;
  /* margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
  margin-bottom: 5%; */
}

.col {
  display: table-cell;
  flex-direction: column;
  /* flex-basis: 100%; */
  flex: 1;
  justify-content: space-between;
}

.container1 {
  height: 100%;
}

.container2 {
  display: flex;
  height: 100%;
}

.container3 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container3 img {
  width: 100%;
  height: auto;
}

.container3 div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  max-width: 20vw;
  height: 20vw;
  flex-basis: 18%;
  margin: 2px;
}

.container3.row {
  height: auto;
}

#suggestion-message {
  display: flex;
  justify-content: center;
  background-color: #b2fbff;
  margin: 10%;
}

#suggestion-message p {
  justify-content: center;
}
