.top {
  height: 300px;
}

.card {
  height: 100%;
}

.col {
  display: table-cell;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.container1 {
  height: 100%;
}

.container2 {
  display: flex;
  height: 100%;
}

.container3 {
  display: flex;
}

.container4 {
  display: flex;
}

.container5 {
  display: flex;
}

.container6 {
  display: flex;
}
